* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.grid-container {
  width: 500px;
  height: 500px;
  background: ivory;
  display: flex;
}

.clear-btn {
  width: 120px;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  background: rgb(49, 91, 207);
  color: rgb(19, 18, 31);
  font-weight: bold;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.title {
  font-size: 64px;
  padding: 20px;
  font-family: "Yellowtail", cursive;
}

.slider + div {
  margin-bottom: 20px;
  font-weight: bold;
}
